html {
  background-color: rgba(247, 249, 252, 1);
}

/* 
  Instead of using the <SubHeader /> <Title> components
  We style the markdown field directly
  This is only because it's easier to implement with the current Markdown renderer
*/
.markdown ul,
.markdown ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown a {
  color: #1556ea;
}

.markdown p {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.markdown h3 {
  line-height: 1.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
