NEXT_PUBLIC_EXT_API_URL=https://localhost:5001/api/
SERVER_ONLY_API_URL=https://localhost:5001/api/
NEXT_PUBLIC_EXT_X_API_HEADER=GUID_HERE
NODE_TLS_REJECT_UNAUTHORIZED=0 # For development / test with no valid HTTPS certificate only
NEXT_PUBLIC_BUILD_VERSION=development-101
